In [ ]:
import pandas as pd
import mplfinance as mpf

In [1]:
pip install --upgrade mplfinance

Collecting mplfinance
  Downloading mplfinance-0.12.7a17-py3-none-any.whl (62 kB)
Requirement already satisfied, skipping upgrade: matplotlib in c:\users\opeoj\anaconda3\envs\pythondata\lib\site-packages (from mplfinance) (3.3.2)
Requirement already satisfied, skipping upgrade: pandas in c:\users\opeoj\anaconda3\envs\pythondata\lib\site-packages (from mplfinance) (1.1.3)
Requirement already satisfied, skipping upgrade: numpy>=1.15 in c:\users\opeoj\anaconda3\envs\pythondata\lib\site-packages (from matplotlib->mplfinance) (1.19.5)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.1 in c:\users\opeoj\anaconda3\envs\pythondata\lib\site-packages (from matplotlib->mplfinance) (2.8.1)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in c:\users\opeoj\anaconda3\envs\pythondata\lib\site-packages (from matplotlib->mplfinance) (0.10.0)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in c:\users\opeoj\anaconda3\envs\pythondata\lib\site-packages (from matplotlib->mplfinance) (1.3.0)
Requirement already satisfied, skipping upgrade: pillow>=6.2.0 in c:\users\opeoj\anaconda3\envs\pythondata\lib\site-packages (from matplotlib->mplfinance) (8.0.1)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\opeoj\anaconda3\envs\pythondata\lib\site-packages (from matplotlib->mplfinance) (2.4.7)
Requirement already satisfied, skipping upgrade: certifi>=2020.06.20 in c:\users\opeoj\anaconda3\envs\pythondata\lib\site-packages (from matplotlib->mplfinance) (2020.6.20)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\users\opeoj\anaconda3\envs\pythondata\lib\site-packages (from pandas->mplfinance) (2020.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\opeoj\anaconda3\envs\pythondata\lib\site-packages (from python-dateutil>=2.1->matplotlib->mplfinance) (1.15.0)
Installing collected packages: mplfinance
Successfully installed mplfinance-0.12.7a17
Note: you may need to restart the kernel to use updated packages.

In [3]:
# Import dependencies
%matplotlib inline
import pandas as pd
import mplfinance as mpf

In [30]:
# Import data
file = "Seasons_&_Quarters_Official_DB_7_29.csv"
aapl_df = pd.read_csv(file, parse_dates=['Date'])
#aapl_df.set_index('Unnamed: 0',inplace=True)
#aapl_df.index.name=None
aapl_df.head()

        Date Day_Month  Year Month Quarter  Season
0 1980-12-12    12-Dec  1980    12      Q4  Winter
1 1980-12-15    15-Dec  1980    12      Q4  Winter
2 1980-12-16    16-Dec  1980    12      Q4  Winter
3 1980-12-17    17-Dec  1980    12      Q4  Winter
4 1980-12-18    18-Dec  1980    12      Q4  Winter

In [33]:
aapl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10227 entries, 0 to 10226
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       10226 non-null  datetime64[ns]
 1   Day_Month  10227 non-null  object
 2   Year       10227 non-null  object
 3   Month      10227 non-null  object
 4   Quarter    10227 non-null  object
 5   Season     10227 non-null  object
dtypes: datetime64[ns](1), object(5)
memory usage: 479.5+ KB

In [34]:
aapl_df.columns

Index(['Date', 'Day_Month', 'Year', 'Month', 'Quarter', 'Season'], dtype='object')

In [37]:
aapl_df["Date"] = pd.to_datetime(aapl_df["Date"])
#aapl_df.info

In [38]:
aapl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10227 entries, 0 to 10226
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       10226 non-null  datetime64[ns]
 1   Day_Month  10227 non-null  object
 2   Year       10227 non-null  object
 3   Month      10227 non-null  object
 4   Quarter    10227 non-null  object
 5   Season     10227 non-null  object
dtypes: datetime64[ns](1), object(5)
memory usage: 479.5+ KB

In [39]:
aapl_df.isnull().sum()

Date         1
Day_Month    0
Year         0
Month        0
Quarter      0
Season       0
dtype: int64

In [43]:
aapl_df["Date"] = aapl_df["Date"].fillna(0)

KeyError: 'Date'

In [24]:
aapl_df[["Open","High","Low","Close","Adj Close","Volume"]] = aapl_df[["Open","High","Low","Close","Adj Close","Volume"]].fillna(0)

In [26]:
aapl_df.isnull().sum()

Open                0
High                0
Low                 0
Close               0
Adj Close           0
Volume              0
Open_Change         0
High_Change         0
Low_Change          0
Close_Change        0
Volume_Change       0
Gain_Loss_Open      0
Gain_Loss_High      0
Gain_Loss_Low       0
Gain_Loss_Close     0
Gain_Loss_Volume    0
dtype: int64

In [27]:
aapl_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10227 entries, 1980-12-12 to NaT
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Open              10227 non-null  float64
 1   High              10227 non-null  float64
 2   Low               10227 non-null  float64
 3   Close             10227 non-null  float64
 4   Adj Close         10227 non-null  float64
 5   Volume            10227 non-null  float64
 6   Open_Change       10227 non-null  object
 7   High_Change       10227 non-null  object
 8   Low_Change        10227 non-null  object
 9   Close_Change      10227 non-null  object
 10  Volume_Change     10227 non-null  object
 11  Gain_Loss_Open    10227 non-null  object
 12  Gain_Loss_High    10227 non-null  object
 13  Gain_Loss_Low     10227 non-null  object
 14  Gain_Loss_Close   10227 non-null  object
 15  Gain_Loss_Volume  10227 non-null  object
dtypes: float64(6), object(10)
memory usage: 1.3+ MB

In [40]:
aapl_df = aapl_df.set_index("Date")
aapl_df.head()

           Day_Month  Year Month Quarter  Season
Date
1980-12-12    12-Dec  1980    12      Q4  Winter
1980-12-15    15-Dec  1980    12      Q4  Winter
1980-12-16    16-Dec  1980    12      Q4  Winter
1980-12-17    17-Dec  1980    12      Q4  Winter
1980-12-18    18-Dec  1980    12      Q4  Winter

In [41]:
mpf.plot(aapl_df)

C:\Users\opeoj\anaconda3\envs\PythonData\lib\site-packages\mplfinance\_arg_validators.py:45: UserWarning:

 =================================================================

   WARNING: YOU ARE PLOTTING SO MUCH DATA THAT IT MAY NOT BE
            POSSIBLE TO SEE DETAILS (Candles, Ohlc-Bars, Etc.)
   For more information see:
   - https://github.com/matplotlib/mplfinance/wiki/Plotting-Too-Much-Data

   TO SILENCE THIS WARNING, set `type='line'` in `mpf.plot()`
   OR set kwarg `warn_too_much_data=N` where N is an integer
   LARGER than the number of data points you want to plot.

 ================================================================
  category=UserWarning)

ValueError: cannot convert float NaN to integer