In [23]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [28]:
# File to load
AAPL_load = "AAPL_Pre_Official_DB_7_31.csv"

#Read data
AAPL_df = pd.read_csv(AAPL_load)
AAPL_df.head()

,Date,Day_Month,Year,Month,Season,Quarter,Open,High,Low,Close,...,Open_Change,High_Change,Low_Change,Close_Change,Volume_Change,Gain_Loss_Open,Gain_Loss_High,Gain_Loss_Low,Gain_Loss_Close,Gain_Loss_Volume
0,12/12/80,12/12,1980,12,Winter,Q4,0.128348,0.128906,0.128348,0.128348,...,0.128348,0.128906,0.128348,0.128348,0,Gain,Gain,Gain,Gain,Gain
1,12/15/80,12/15,1980,12,Winter,Q4,0.122210,0.122210,0.121652,0.121652,...,-0.006138,-0.006696,-0.006696,-0.006696,-293148800,Loss,Loss,Loss,Loss,Loss
2,12/16/80,12/16,1980,12,Winter,Q4,0.113281,0.113281,0.112723,0.112723,...,-0.008929,-0.008929,-0.008929,-0.008929,-70156800,Loss,Loss,Loss,Loss,Loss
3,12/17/80,12/17,1980,12,Winter,Q4,0.115513,0.116071,0.115513,0.115513,...,0.002232,0.002790,0.002790,0.002790,-19286400,Gain,Gain,Gain,Gain,Loss
4,12/18/80,12/18,1980,12,Winter,Q4,0.118862,0.119420,0.118862,0.118862,...,0.003349,0.003349,0.003349,0.003349,-12992000,Gain,Gain,Gain,Gain,Loss

In [38]:
AAPL_years = AAPL_df.Year.unique()
AAPL_years

array([1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990,
       1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021], dtype=int64)

In [39]:
AAPL_spring_df = AAPL_df[AAPL_df["Season"] == "Spring"]
AAPL_spring_df.head()

,Date,Day_Month,Year,Month,Season,Quarter,Open,High,Low,Close,...,Open_Change,High_Change,Low_Change,Close_Change,Volume_Change,Gain_Loss_Open,Gain_Loss_High,Gain_Loss_Low,Gain_Loss_Close,Gain_Loss_Volume
54,3/2/81,03/02,1981,3,Spring,Q1,0.123326,0.123884,0.123326,0.123326,...,0.005022,0.004464,0.005022,0.005022,4390400,Gain,Gain,Gain,Gain,Gain
55,3/3/81,03/03,1981,3,Spring,Q1,0.117746,0.117746,0.117188,0.117188,...,-0.005580,-0.006138,-0.006138,-0.006138,-2979200,Loss,Loss,Loss,Loss,Loss
56,3/4/81,03/04,1981,3,Spring,Q1,0.118304,0.118862,0.118304,0.118304,...,0.000558,0.001116,0.001116,0.001116,313600,Gain,Gain,Gain,Gain,Gain
57,3/6/81,03/06,1981,3,Spring,Q1,0.140625,0.141741,0.140625,0.140625,...,0.022321,0.022879,0.022321,0.022321,22960000,Gain,Gain,Gain,Gain,Gain
58,3/8/81,03/08,1981,3,Spring,Q1,0.111607,0.111607,0.110491,0.110491,...,-0.029018,-0.030134,-0.030134,-0.030134,-27014400,Loss,Loss,Loss,Loss,Loss

In [40]:
AAPL_summer_df = AAPL_df[AAPL_df["Season"] == "Summer"]
AAPL_summer_df.head()

,Date,Day_Month,Year,Month,Season,Quarter,Open,High,Low,Close,...,Open_Change,High_Change,Low_Change,Close_Change,Volume_Change,Gain_Loss_Open,Gain_Loss_High,Gain_Loss_Low,Gain_Loss_Close,Gain_Loss_Volume
116,6/1/81,06/01,1981,6,Summer,Q2,0.144531,0.144531,0.143973,0.143973,...,-0.003348,-0.003907,-0.003906,-0.003906,-14224000,Loss,Loss,Loss,Loss,Loss
117,6/2/81,06/02,1981,6,Summer,Q2,0.128348,0.128906,0.128348,0.128348,...,-0.016183,-0.015625,-0.015625,-0.015625,-31292800,Loss,Loss,Loss,Loss,Loss
118,6/3/81,06/03,1981,6,Summer,Q2,0.115513,0.115513,0.114397,0.114397,...,-0.012835,-0.013393,-0.013951,-0.013951,-2262400,Loss,Loss,Loss,Loss,Loss
119,6/4/81,06/04,1981,6,Summer,Q2,0.116629,0.116629,0.116071,0.116071,...,0.001116,0.001116,0.001674,0.001674,11200000,Gain,Gain,Gain,Gain,Gain
120,6/5/81,06/05,1981,6,Summer,Q2,0.122768,0.122768,0.122210,0.122210,...,0.006139,0.006139,0.006139,0.006139,-3852800,Gain,Gain,Gain,Gain,Loss

In [41]:
AAPL_fall_df = AAPL_df[AAPL_df["Season"] == "Fall"]
AAPL_fall_df.head()

,Date,Day_Month,Year,Month,Season,Quarter,Open,High,Low,Close,...,Open_Change,High_Change,Low_Change,Close_Change,Volume_Change,Gain_Loss_Open,Gain_Loss_High,Gain_Loss_Low,Gain_Loss_Close,Gain_Loss_Volume
180,9/1/81,09/01,1981,9,Fall,Q3,0.142299,0.142857,0.142299,0.142299,...,0.052455,0.052455,0.052455,0.052455,-19443200,Gain,Gain,Gain,Gain,Loss
181,9/2/81,09/02,1981,9,Fall,Q3,0.122768,0.122768,0.121652,0.121652,...,-0.019531,-0.020089,-0.020647,-0.020647,-4748800,Loss,Loss,Loss,Loss,Loss
182,9/3/81,09/03,1981,9,Fall,Q3,0.106027,0.106027,0.105469,0.105469,...,-0.016741,-0.016741,-0.016183,-0.016183,-1433600,Loss,Loss,Loss,Loss,Loss
183,9/4/81,09/04,1981,9,Fall,Q3,0.122768,0.123326,0.122768,0.122768,...,0.016741,0.017299,0.017299,0.017299,-2822400,Gain,Gain,Gain,Gain,Loss
184,9/6/81,09/06,1981,9,Fall,Q3,0.138951,0.139509,0.138951,0.138951,...,0.016183,0.016183,0.016183,0.016183,107094400,Gain,Gain,Gain,Gain,Gain

In [42]:
AAPL_winter_df = AAPL_df[AAPL_df["Season"] == "Winter"]
AAPL_winter_df.head()

,Date,Day_Month,Year,Month,Season,Quarter,Open,High,Low,Close,...,Open_Change,High_Change,Low_Change,Close_Change,Volume_Change,Gain_Loss_Open,Gain_Loss_High,Gain_Loss_Low,Gain_Loss_Close,Gain_Loss_Volume
0,12/12/80,12/12,1980,12,Winter,Q4,0.128348,0.128906,0.128348,0.128348,...,0.128348,0.128906,0.128348,0.128348,0,Gain,Gain,Gain,Gain,Gain
1,12/15/80,12/15,1980,12,Winter,Q4,0.122210,0.122210,0.121652,0.121652,...,-0.006138,-0.006696,-0.006696,-0.006696,-293148800,Loss,Loss,Loss,Loss,Loss
2,12/16/80,12/16,1980,12,Winter,Q4,0.113281,0.113281,0.112723,0.112723,...,-0.008929,-0.008929,-0.008929,-0.008929,-70156800,Loss,Loss,Loss,Loss,Loss
3,12/17/80,12/17,1980,12,Winter,Q4,0.115513,0.116071,0.115513,0.115513,...,0.002232,0.002790,0.002790,0.002790,-19286400,Gain,Gain,Gain,Gain,Loss
4,12/18/80,12/18,1980,12,Winter,Q4,0.118862,0.119420,0.118862,0.118862,...,0.003349,0.003349,0.003349,0.003349,-12992000,Gain,Gain,Gain,Gain,Loss

In [43]:
AAPL_spring_avg = AAPL_spring_df.groupby(["Year"]).mean()["Volume"]
AAPL_spring_avg.head()

Year
1981    3.339479e+07
1982    7.507662e+07
1983    1.338075e+08
1984    1.724536e+08
1985    1.699792e+08
Name: Volume, dtype: float64