In [33]:
# Initial imports.
import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [34]:
# Loading data
# https://towardsdatascience.com/4-tricks-you-should-know-to-parse-date-columns-with-pandas-read-csv-27355bb2ad0e#:~:text=By%20default%2C%20date%20columns%20are%20parsed%20using%20the,a%20different%20date%20format%2C%20for%20example%2C%20YYYY-DD-MM%20HH%3AMM%3ASS%3A
file_path =Path("../Final_Project_10_UTA/AAPL_mock_data_ML.csv")
apple_df = pd.read_csv(file_path, parse_dates=['Date'])
apple_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Season_spring,Season_summer,Season_fall,Season_winter,quarter_1,quarter_2,quarter_3,quarter_4,Gain/Loss
0,2020-12-31,134.080002,134.740005,131.720001,132.690002,132.267349,99116600,0,0,0,1,0,0,0,1.0,Gain
1,2019-12-31,72.482498,73.419998,72.379997,73.412498,72.552094,100805600,0,0,0,1,0,0,0,1.0,Gain
2,2018-12-31,39.632500,39.840000,39.119999,39.435001,38.395920,140014000,0,0,0,1,0,0,0,1.0,Gain
3,2015-12-31,26.752501,26.757500,26.205000,26.315001,24.302439,163649200,0,0,0,1,0,0,0,1.0,Loss
4,2014-12-31,28.205000,28.282499,27.552500,27.594999,25.057606,165613600,0,0,0,1,0,0,0,1.0,Gain

In [35]:
# Convert date into an integer since the system was not taking it as a float
# https://www.geeksforgeeks.org/convert-floats-to-integers-in-a-pandas-dataframe/
#apple_df['Date'] = apple_df['Date'].astype(int)

In [36]:
# Define features set
X = apple_df.copy()
X = X.drop("Gain/Loss", axis=1)
X.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Season_spring,Season_summer,Season_fall,Season_winter,quarter_1,quarter_2,quarter_3,quarter_4
0,1609372800000000000,134.080002,134.740005,131.720001,132.690002,132.267349,99116600,0,0,0,1,0,0,0,1.0
1,1577750400000000000,72.482498,73.419998,72.379997,73.412498,72.552094,100805600,0,0,0,1,0,0,0,1.0
2,1546214400000000000,39.632500,39.840000,39.119999,39.435001,38.395920,140014000,0,0,0,1,0,0,0,1.0
3,1451520000000000000,26.752501,26.757500,26.205000,26.315001,24.302439,163649200,0,0,0,1,0,0,0,1.0
4,1419984000000000000,28.205000,28.282499,27.552500,27.594999,25.057606,165613600,0,0,0,1,0,0,0,1.0

In [37]:
# Define the target set.
y = apple_df["Gain/Loss"].ravel()
y[:5]

array(['Gain', 'Gain', 'Gain', 'Loss', 'Gain'], dtype=object)

In [38]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [39]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [40]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

In [41]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [42]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [43]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0            1            4
Actual 1            0            0

In [44]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [45]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0            1            4
Actual 1            0            0

Accuracy Score : 0.2
Classification Report
              precision    recall  f1-score   support

        Gain       1.00      0.20      0.33         5
        Loss       0.00      0.00      0.00         0

    accuracy                           0.20         5
   macro avg       0.50      0.10      0.17         5
weighted avg       1.00      0.20      0.33         5

/Users/Irei/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/Irei/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/Irei/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [46]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.14068646, 0.13176398, 0.1343365 , 0.16925182, 0.12288097,
       0.12655259, 0.17452767, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ])

In [47]:
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.17452766905163034, 'Volume'),
 (0.1692518214428106, 'Low'),
 (0.14068646312966662, 'Date'),
 (0.13433650310640763, 'High'),
 (0.13176397905503304, 'Open'),
 (0.12655259336168778, 'Adj Close'),
 (0.12288097085276406, 'Close'),
 (0.0, 'quarter_4'),
 (0.0, 'quarter_3'),
 (0.0, 'quarter_2'),
 (0.0, 'quarter_1'),
 (0.0, 'Season_winter'),
 (0.0, 'Season_summer'),
 (0.0, 'Season_spring'),
 (0.0, 'Season_fall')]